# .env
# Path di server aplikasi untuk menyimpan konfigurasi login Docker.
# Pastikan direktori ini dapat ditulis oleh user www-data.
DOCKER_CONFIG_PATH=/var/www/html/traefik-manager/docker-config
# Database Configuration
DB_SERVER="localhost"
DB_USERNAME="root"
DB_PASSWORD=""
DB_NAME="traefik_manager"

# Application Configuration
YAML_OUTPUT_PATH="/var/www/html/traefik-manager/dynamic.yml"
TRAEFIK_API_URL="http://localhost:8080"
DEFAULT_COMPOSE_PATH=./my-compose-files
